html,
body {
    height: 100%;
}

hr{
    border-style: inset;
    border-width: 1px;
}



.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.home{

float: right;

}
.login{

    margin-top: 100px;
    position: relative;
    left: 40%;
    width: 300px;
    height: 400px;
}

.panel {

    float: right;
    background-color: pink;
}

.login_button{

    color: white;
    font-weight: bolder;
    background-color: #3366ff;
    width: 100px;
    height: 30px;
    border-style: none;
    //border-color: white;
    border-width: 1px;
    border-radius: 5px;
}

.register_button{

    color: white;
    font-weight: bolder;
    background-color: #65ff33;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

.login_button:hover{

    //color: blue;
    //border-style: groove;
    background-color: #003eff;
    //border-color: blue; 
}

.register_button:hover{

    background-color: #2bb300;
}

.category_button{

    color: white;
    font-weight: bolder;
    background-color: red;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    margin: 5px;
}

.category_button:hover{

    //color: blue;
    //border-style: groove;
    background-color: orange;
    //border-color: blue; 
}

.joke_page{

    //background-color: yellow;
}
.joke_frame{

    position: relative;
    left: 15%;
    width: 400px;
    height: auto;
    background-color: pink;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.joke_title{

    font-size: 20px;
    margin-bottom: 10px;
}

.joke_content{

    font-size: 15px;
    font-style: italic;
}


.categories{

    height: 1000px;
    width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    //background-color: lightblue;
    float: left;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
